.parent-container {
  max-width: 350px;
  margin: auto;
  margin-top: 20px;
  border: none;
}

.upper-container {
  width: 100%;
  display: flex;
  margin: auto;
  justify-content: flex-start;
}

.icon-margin {
  margin: auto;
  margin-left: 5px;
}
.icon {
  margin: auto;
  width: 53.6px;
  height: 100%;
  border-radius: 50%;
  color: white;
  background-color: red;
  font-size: 40px;
  color: rgb(168, 157, 157);
}

.trip-to-paris-heading {
  margin-left: 50px;
  display: inline;
  font-size: 45px;
}

.inside-lower-div {
  margin: auto;
  width: 99%;
  height: 400px;
  margin-top: 20px;
  border: 1px solid red;
  border-radius: 15px;
  box-shadow: 3px 3px 5px 3px rgb(214, 214, 214), 1px 1px 0px 0px gray;
  border-collapse: collapse;
  position: relative;
}

.trip-to-paris-text {
  float: right;
  width: 70%;
  margin-bottom: 5px;
  font-weight: 600;
  color: rgb(255, 147, 147);
  font-size: 30px;
}

.hr1 {
  width: 70%;
  float: right;
}

.completed-task {
  margin-top: 5px;
  width: 70%;
  float: right;
  text-align: left;
  font-size: 30px;
  color: red;
  text-decoration: line-through;
}

.my-input {
  width: 20px;
  height: 20px;
}

.input-task {
  width: 70%;
  float: right;
  float: right;
}

.add-plus {
  position: absolute;
  bottom: 20px;
  right: 15px;
  color: red;
  background-color: white;
  font-size: 40px;
}
.mybutton:hover {
  background-color: brown;
  height: 50px;
  width: 150px;
}

#bar {
  align-items: center;
  width: 80%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0;
  border: none;
  cursor: default;
  filter: blur(4px);
  z-index: 0;
}

#foo {
  margin: auto;
  margin-top: 15%;
  background-color: white;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  align-content: center;
  display: flex;
  width: 500px;
  height: 200px;
  border: 1px solid red;
  border-radius: 20px;
  color: red;
  position: relative;
  z-index: 10;
}

.input-box {
  height: 40px;
  width: 400px;
  border: 1px solid red;
  border-radius: 10px;
}

@media screen and (max-width: 370px) {
  .parent-container {
    max-width: 100%;
    margin: auto;
    margin-top: 20px;
    border: none;
  }
  .upper-container {
    width: 98%;
    display: flex;
    margin: auto;
    justify-content: flex-start;
  }

  .icon-margin {
    margin: auto;
    margin-left: 5px;
  }
  .icon {
    margin: auto;
    width: 53.6px;
    height: 100%;
    border-radius: 50%;
    color: white;
    background-color: red;
    font-size: 40px;
    color: rgb(168, 157, 157);
  }

  .trip-to-paris-heading {
    width: 230px;
    float: right;
    font-size: 35px;
  }

  .inside-lower-div {
    margin: auto;
    width: 95%;
    margin-top: 20px;
    border: 1px solid red;
    border-radius: 15px;
    box-shadow: 3px 3px 5px 3px rgb(214, 214, 214), 1px 1px 0px 0px gray;
    border-collapse: collapse;
    position: relative;
  }

  .trip-to-paris-text {
    float: right;
    width: 230px;
    margin-bottom: 5px;
    font-weight: 600;
    color: rgb(255, 147, 147);
    font-size: 30px;
  }

  .hr1 {
    width: 230px;
    float: right;
  }

  .completed-task {
    margin-top: 5px;
    width: 230px;
    float: right;
    text-align: left;
    font-size: 30px;
    color: red;
    text-decoration: line-through;
  }

  .my-input {
    width: 20px;
    height: 20px;
  }

  .input-task {
    width: 230px;
    float: right;
  }

  .add-plus {
    position: absolute;
    bottom: 20px;
    right: 15px;
    color: red;
    background-color: white;
    font-size: 40px;
  }

  .mybutton:hover {
    background-color: brown;
    height: 30%;
    width: 40%;
  }

  #bar {
    align-items: center;
    overflow: hidden;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0;
    border: none;
    cursor: default;
    filter: blur(4px);
    z-index: 0;
  }

  #foo {
    margin: auto;
    margin-top: 35%;
    background-color: white;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    align-content: center;
    display: flex;
    width: 95%;
    height: 200px;
    border: 1px solid red;
    border-radius: 20px;
    color: red;
    position: relative;
    z-index: 10;
  }

  .input-box {
    height: 40px;
    width: 86%;
    border: 1px solid red;
    border-radius: 10px;
  }
}
