.parent-container {
  max-width: 350px;
  margin: auto;
  border: none;
}

.upper-div {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.mytextsize {
  font-size: 50px;
  font-weight: lighter;
  color: rgb(100, 100, 100);
}

.for-icon {
  background-color: white;
  color: red;
  border-radius: 50% 60%;
}

.input1 {
  width: 320px;
  height: 55px;
  margin-left: 15px;
  margin-top: 30px;
  border: 1px solid red;
  border-radius: 5px;
  box-shadow: 3px 3px 5px 3px rgb(214, 214, 214), 1px 1px 0px 0px gray;
  border-collapse: collapse;
}
.input2 {
  width: 320px;
  height: 55px;
  margin-left: 15px;
  margin-top: 30px;
  border: 1px solid red;
  border-radius: 5px;
  box-shadow: 3px 3px 5px 3px rgb(214, 214, 214), 1px 1px 0px 0px gray;
  border-collapse: collapse;
}

.input3 {
  width: 320px;
  height: 55px;
  margin-left: 15px;
  margin-top: 30px;
  border: 1px solid red;
  border-radius: 5px;
  box-shadow: 3px 3px 5px 3px rgb(214, 214, 214), 1px 1px 0px 0px gray;
  border-collapse: collapse;
}

.input4 {
  width: 320px;
  height: 55px;
  margin-left: 15px;
  margin-top: 30px;
  border: 1px solid red;
  border-radius: 5px;
  box-shadow: 3px 3px 5px 3px rgb(214, 214, 214), 1px 1px 0px 0px gray;
  border-collapse: collapse;
}

.input5 {
  width: 320px;
  height: 55px;
  margin-left: 15px;
  margin-top: 30px;
  border: 1px solid red;
  border-radius: 5px;
  box-shadow: 3px 3px 5px 3px rgb(214, 214, 214), 1px 1px 0px 0px gray;
  border-collapse: collapse;
}
.mybutton:hover {
  background-color: brown;
  height: 50px;
  width: 150px;
}

#bar {
  align-items: center;
  width: 80%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0;
  border: none;
  cursor: default;
  filter: blur(4px);
  z-index: 0;
}

#foo {
  margin: auto;
  margin-top: 15%;
  background-color: white;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  align-content: center;
  display: flex;
  width: 500px;
  height: 200px;
  border: 1px solid red;
  border-radius: 20px;
  color: red;
  position: relative;
  z-index: 10;
}

.input-box {
  height: 40px;
  width: 400px;
  border: 1px solid red;
  border-radius: 10px;
}

@media screen and (max-width: 370px) {
  .parent-container {
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    border: none;
    margin: auto;
  }
  .upper-div {
    width: 92%;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
  }
  .mytextsize {
    font-size: 45px;
  }
  .for-icon {
    background-color: white;
    color: red;
    border-radius: 50% 60%;
  }

  .input1 {
    width: 300px;
    height: 55px;
    margin: auto;
    margin-left: 15px;
    margin-top: 30px;
    border: 1px solid red;
    border-radius: 5px;
    box-shadow: 3px 3px 5px 3px rgb(214, 214, 214), 1px 1px 0px 0px gray;
    border-collapse: collapse;
  }
  .input2 {
    width: 300px;
    height: 55px;
    margin: auto;
    margin-left: 15px;
    margin-top: 30px;
    border: 1px solid red;
    border-radius: 5px;
    box-shadow: 3px 3px 5px 3px rgb(214, 214, 214), 1px 1px 0px 0px gray;
    border-collapse: collapse;
  }

  .input3 {
    width: 300px;
    height: 55px;
    margin: auto;
    margin-left: 15px;
    margin-top: 30px;
    border: 1px solid red;
    border-radius: 5px;
    box-shadow: 3px 3px 5px 3px rgb(214, 214, 214), 1px 1px 0px 0px gray;
    border-collapse: collapse;
  }

  .input4 {
    width: 300px;
    height: 55px;
    margin: auto;
    margin-left: 15px;
    margin-top: 30px;
    border: 1px solid red;
    border-radius: 5px;
    box-shadow: 3px 3px 5px 3px rgb(214, 214, 214), 1px 1px 0px 0px gray;
    border-collapse: collapse;
  }

  .input5 {
    width: 300px;
    height: 55px;
    margin: auto;
    margin-left: 15px;
    margin-top: 30px;
    margin-bottom: 10px;
    border: 1px solid red;
    border-radius: 5px;
    box-shadow: 3px 3px 5px 3px rgb(214, 214, 214), 1px 1px 0px 0px gray;
    border-collapse: collapse;
  }
  .mybutton:hover {
    background-color: brown;
    height: 30%;
    width: 40%;
  }

  #bar {
    align-items: center;
    overflow: hidden;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0;
    border: none;
    cursor: default;
    filter: blur(4px);
    z-index: 0;
  }

  #foo {
    margin: auto;
    margin-top: 35%;
    background-color: white;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    align-content: center;
    display: flex;
    width: 95%;
    height: 200px;
    border: 1px solid red;
    border-radius: 20px;
    color: red;
    position: relative;
    z-index: 10;
  }

  .input-box {
    height: 40px;
    width: 86%;
    border: 1px solid red;
    border-radius: 10px;
  }
}
